
/*main body set.*/
html {
    width: 100%;
    height: 100%;
}

hr {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFEE;
    font-size: 12px;
    overflow: auto;
}

div.block {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

div.long {
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
    background-color: #FCFAF5;
}

#left {
    float: left;
    width: 241px;
    background-color: #25283b;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/*Start here is colors. Also small-caps.*/

h1.white {
    font-variant: small-caps;
    color: aliceblue;
    font-size: 230%;
    display: inline-block;
}


h3.white {
    font-variant: small-caps;
    color: aliceblue;
    font-size: 150%;
}

h4.white {
    font-variant: small-caps;
    color: aliceblue;
}

p.white {
    //font-variant: small-caps;
    color: aliceblue;
}

/*Down have right side stuff. */

#right {
    //float: right;
    width: 100%;
    margin-left: 300px;
}

#center {
    float:left;
    margin: 0 auto;
    width: 200px;
}
#copyright a {
    color: #666;
}

/*here some image settings*/
img.icon {
    float: left;
    width: 75px;
    height: 75px;
}